# SPDX-FileCopyrightText: Copyright 2024, 2025 Arm Limited and affiliates.
#
# SPDX-License-Identifier: Apache-2.0

ComputeLibrary/
pytorch/
!pytorch/test
!pytorch/test/**
!pytorch/.ci/docker/requirements-ci.txt
*.log
.*_build_container_id
