# Does not include torch and related packages (torchvision, torchdata etc)
# because we install them in the docker container using the official nightly
# PyTorch channel and our own built torch wheel (see Dockerfile for more info   )
certifi==2024.8.30
charset-normalizer~=3.4.0
expecttest==0.3.0 # From unit tests
filelock~=3.16.1
fsspec==2024.9.0
huggingface_hub==0.34.0
idna~=3.10
Jinja2~=3.1.4
MarkupSafe~=3.0.1
mpmath~=1.3.0
networkx~=3.4.1
numpy~=2.1.2
opencv-python-headless~=4.10.0.84
packaging~=24.1
pandas~=2.2.3
pillow~=11.0.0
protobuf==5.29.5      # GenAI models dependency
pyaml~=24.9.0
python-dateutil~=2.9.0.post0
pytz==2024.2
PyYAML~=6.0.2
pytest~=8.4.2
regex==2024.9.11
requests~=2.32.3
safetensors~=0.4.5
six~=1.16.0
sympy~=1.13.1
tokenizers~=0.21.0
tqdm~=4.66.5
transformers~=4.55.2  # >= 4.50.0 due to CVE-2025-2099
typing_extensions~=4.12.2
tzdata==2024.2
urllib3~=2.2.3
